* {
    box-sizing: border-box;
    margin: 0;
    padding: 6px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

#title {
    background-color: #4a235a; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Pacifico', cursive;
}

header {
    background-color: #4a235a; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d3b5e5;
}

.section {
    padding: 40px 0;
}

.section h2, .section h4 {
    margin-bottom: 20px;
    color: #4a235a;
    text-align: center;
}

.section p {
    color: #333;
    margin-bottom: 10px;
}

#services-special {
    background-color: #ffc0cb; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    padding: 20px; 
    margin-bottom: 20px; 
}

#services-special h2,
#services-special p {
color: #333; 
}


.prestations-gratuites {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.prestations-gratuites h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.prestation {
    margin-bottom: 20px;
}

.prestation h3 {
    font-size: 1.5em;
    color: deeppink;
    margin-bottom: 10px;
}

.prestation p {
    font-size: 1em;
    color: #666;
}

.image-gallery-container {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; 
}

.image-gallery img {
    width: 200px;
    height: 230px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.image-gallery img:hover {
    transform: scale(1.05); 
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #4a235a;
    font-weight: 600;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #4a235a; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #311b92; 
}

footer {
    background-color: #4a235a; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
